files:
    "/etc/httpd/conf.d/vhost.conf":
        mode: "000644"
        owner: root
        group: root
        encoding: plain
        content: |
            NameVirtualHost *:80

            <VirtualHost *:80>
                ServerName vm.payandgo.link
                DocumentRoot /var/www/html/frontend/web/

                <Directory /var/www/html/frontend/web/>
                    AllowOverride All
                </Directory>
            </VirtualHost>

            <VirtualHost *:80>
                ServerName vm-admin.payandgo.link
                DocumentRoot /var/www/html/backend/web/

                <Directory /var/www/html/backend/web/>
                    AllowOverride All
                </Directory>
            </VirtualHost>

commands:
    remove_old_postinit:
        command: "rm -f /etc/httpd/conf.d/*.bak"
