.grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
}

.grid-2 {
    grid-template-columns: repeat(6, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-6 {
    grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
    .grid-sm-4 {
        grid-template-columns: repeat(3, 1fr);
    }
}